@model List<UserModel>

<table>
    <thead>
        <tr>
            <th></th>
            <th>User Name</th>
            <th>User Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <th>
                    <input type="checkbox" name="UserUid" id=@person.UserIid 
                           value=@string.Concat(@person.UserIid,"|",@person.Name,"|",@person.Address,"^") />
                </th>
                <th><label for=@person.Name>@person.Name </label></th>
                <th><label for=@person.Address>@person.Address </label></th>
            </tr>
        }
    </tbody>
</table>


<div>
    <button onclick="Next()" id="submit" type="button">Next</button>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    function Next() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/Index', true);
        xhr.onload = function () {
            alert(jQuery.parseJSON(xhr.responseText));
        };
        xhr.send(GetModelData());
    }

    function GetModelData() {
        var list = "";
        $("input:checkbox[name=UserUid]:checked").each(function () {
            list += ($(this).val());
        });
        return list;
    }
</script>